<footer id="footer">
  <p style = "text-align: center">
    <a href="https://t.me/LangapexDombitNamangan"><i class="fab fa-light fa-telegram fa-lg footer-icon"></i></a>
    <a href="https://www.youtube.com/c/UniSHopUz"><i class="fab fa-youtube fa-lg footer-icon"></i></a>
    <a href="/"><i class="fab fa-facebook-square fa-lg footer-icon"></i></a>
    <a href="/"><i class="fas fa-envelope fa-lg footer-icon"></i></a>
  </p>
  <p style = "text-align: center">2022 Alumni Association®️</p>
</footer>
</body>
</html>
