<main class="form-signin w-100 mx-auto">
    <form action="/" method="POST">
      <h1 class="h3 mb-3 fw-normal">Login to our Alumnii Association</h1>
      <div class="form-floating">
        <input type="email" name="mail" class="form-control" placeholder="example@email.com" autocomplete="off" required>
        <label for="floatingPassword">Your email</label>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" autocomplete="off" required>
        <label for="exampleInputPassword1">Password</label>
      </div>
      <br>
      <button class="w-100 btn btn-lg btn-secondary" type="submit">Login</button>
      <hr>
      <!-- it starts Here -->
      <p>or Login with</p>
      <div class="socials">
        <div class="col">
          <a href="#" class="google btn">
            <img class = "icons" src="icons/search.png" alt="">
            <!-- <i class="fab fa-google fa-3x"></i> -->
          </a>
          <a href="#" class="fb btn">
            <img class = "icons" src="icons/facebook.png" alt="">
            <!-- <i class="fab fa-facebook fa-3x"></i> -->
          </a>
          <a href="#" class="twitter btn">
            <img class = "icons" src="icons/twitter.png" alt="">
            <!-- <i class="fab fa-twitter fa-3x"></i> -->
          </a>
        </div>
      </div>

    </form>
  </main>
