/* Navbar */

.navbar-brand img{
  height: 80px;
  width: 80px;
  float: left;

}


/* Login/Register */
main{
  background-color: #ADB5BD;
}
  .form-signin {
    max-width: 400px;
    padding: 20px;
  }

  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .form-signin {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .socials .col .btn .icons{
    max-width: 50px;
    height: auto;
    margin: 0 5px 0 5px;
  }
  #logo-image{
    border: solid gray 1px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
  }



/* footer css */
.footer {
  bottom: 0;
  padding: 1.5rem;
  background-color: #CED4DA;
  text-align: center;
}
.footer p a{
  margin-left: 10px;
  margin-right: 10px;
  color: inherit;
}
.footer p a:hover{
  color: #6C757D;
}
/* alumni page css */
.alumnus{
    background-color: CED4DA;
}
.container{
  margin-bottom: 80px;
}
.row{
  padding: 0;
}
.profile{
  padding: 20px;
  text-align: left;
  background-color: #DEE2E6;
}
.container{
  margin-top:5%;
}
.profile-pic{
   width: 200px;
}
.profile-contact{
  margin: 0;
  height: 16px;
}

/* newsletter css */
.news-letter-title{
  padding: 0 10px 0 10px;
  background-color: #C2C4C6;
    text-align: center;
}

.newsletter-content{
  background-color:   #DEE2E6;
  padding: 20px;
}
.newsletter-info-source{
  background-color: #C2C4C6;
  text-align: left;
}
.newsletter-info{
  background-color: #C2C4C6;
  text-align: right;
}
/* login area css */
.login-area .btn{
  padding: 5px 10px 5px 10px;
  margin: 0 10px 0 10px;
}
.login-area{
  padding: 2px;
  margin-right: 10px;
}

/* login and register pages*/
.centered {
    padding-top: 200px;
    text-align: center;
}

/* other css */
body{
  /* background */
  background-color: #F8F9FA;
  background-image: url('../images/main-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  /* footer-fixing */
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height:100vh;
}
