
/* footer css */
.footer {
  padding: 1.5rem;
  background-color: #CED4DA;
  text-align: center;
}
a{
  color: inherit;
}
a:hover{
  color: #6C757D;
}
/* alumni page css */
.alumnus{
    background-color: CED4DA;
}
.container{
  margin-bottom: 80px;
}
.col{
}

.row{
  padding: 0;
}
.profile{
  padding: 20px;
  text-align: left;
  background-color: #DEE2E6;
}
.container{
  margin-top:5%;
}
.profile-pic{
   width: 200px;
}
.profile-contact{
  margin: 0;
  height: 16px;
}

/* newsletter css */
.news-letter-title{
  background-color: #C2C4C6;
    text-align: center;
}

.newsletter-content{
  background-color:   #DEE2E6;
  padding: 20px;
}
.newsletter-info{
  background-color: #C2C4C6;
  text-align: right;
}

/* other css */
body{
  background-color: #F8F9FA;
  background-image: url('../images/main-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
}
